[submodule "arch/tmux/plugins/tmux-resurrect"]
  path = arch/tmux/plugins/tmux-resurrect
  url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "arch/tmux/plugins/tmux-fingers"]
  path = arch/tmux/plugins/tmux-fingers
  url = git@github.com:morantron/tmux-fingers
[submodule "vim/bundle/vim-grepper"]
  path = vim/bundle/vim-grepper
  url = git@github.com:mhinz/vim-grepper
[submodule "awesome/modules/hints"]
  path = awesome/modules/hints
  url = git@github.com:furgerf/hints
[submodule "vim/bundle/vim-isort"]
  path = vim/bundle/vim-isort
  url = git@github.com:fisadev/vim-isort
[submodule "awesome/modules/tyrannical"]
  path = awesome/modules/tyrannical
  url = git@github.com:Elv13/tyrannical.git
[submodule "vim/bundle/vim-active-numbers"]
  path = vim/bundle/vim-active-numbers
  url = git@github.com:auwsmit/vim-active-numbers.git
