[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/colorizer"]
	path = vim/bundle/colorizer
	url = git@github.com:lilydjwg/colorizer.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-transpose"]
	path = vim/bundle/vim-transpose
	url = git@github.com:salsifis/vim-transpose.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/DidYouMean.vim"]
	path = vim/bundle/DidYouMean.vim
	url = git@github.com:EinfachToll/DidYouMean.git
[submodule "vim/bundle/vim-interestingwords"]
	path = vim/bundle/vim-interestingwords
	url = https://github.com/lfv89/vim-interestingwords.git
[submodule "vim/bundle/rainbow_csv"]
	path = vim/bundle/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
	ignore = untracked
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
