Fabian Furger <furgerfabian@hotmail.com> mystyfly                                     # old username
Fabian Furger <furgerfabian@hotmail.com> <mystyfly@gmail.com>                         # old email
Fabian Furger <furgerfabian@hotmail.com> root <root@thinkpad.velocity>                # ?? (was in one of the linux-scripts commits)
Fabian Furger <furgerfabian@hotmail.com> Admin <admin@Mac-Admin.local>                # from 387com lab mac
Fabian Furger <furgerfabian@hotmail.com> Craig Freeman <freema48@uni.coventry.ac.uk>  # from 387com lab mac
Fabian Furger <furgerfabian@hotmail.com> admin <admin@admins-Mac.local>               # from 387com lab mac
