# min hour day month dayOfWeek cmd
# dayOfWeek: sunday = 0

PATH=/home/fabian/git/linux-scripts:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# update file database for locate
0 */9 * * * cron-wrapper sudo updatedb
# clean old package files
0 14 * * 0 cron-wrapper sudo paccache -r -k 2
# remind biodata entry
#0,30 6,7,8,9,10 * * * cron-wrapper biodata
# check for unpushed commits
0 */4 * * * cron-wrapper git-status /home/fabian/git
# export crontab to git
0 */4 * * * cron-wrapper crontab-backup
# update cache for "command not found"
0 14 * * 0 cron-wrapper sudo pkgfile --update

